<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <title>
   PDF Summarizer
  </title>

  <link href="static/css/style.css" rel="stylesheet"/>
  <script defer="" src="static/js/script.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
 </head>

 <body>
    <header>
        <nav>
            <ul>
                <li><a href="https://olewestby.live/" class="nav-link">Home</a></li>
                <li><a href="https://olewestby.live/#about" class="nav-link">About</a></li>
                <li><a href="https://olewestby.live/#skills" class="nav-link">Skills</a></li>
                <li><a href="https://olewestby.live/#projects" class="nav-link">Projects</a></li>
                <li><a href="https://olewestby.live/#resume" class="nav-link">Resume</a></li>
                <li><a href="https://summarizer.olewestby.live" class="nav-link">Summarizer</a></li>
                <li><a href="https://spamdetector.olewestby.live" class="nav-link">SpamDetector</a></li>
            </ul>
        </nav>
    </header>

  <div class="container">

   <p><span id="mode-description"></span></p>
   <label class="switch">
    <input type="checkbox"/>
    <span class="slider round"></span>
   </label>

   <h1>
    PDF Summarizer
   </h1>

   <p>
    Upload a .pdf file and have it analyzed and summarized by ChatGPT! <br><br> If it does not work, check <a href="https://status.openai.com/">OpenAI Status.</a>
   </p>
   <br>

   <div class="g-recaptcha" data-sitekey="6LcUA6woAAAAAMUb9sxzM044NaKDuedToRfEu8VA"></div>
   
   <br>
   <!-- File Upload Form -->
   <form action="/upload" enctype="multipart/form-data" id="upload-form" method="post">
    <input accept=".pdf" name="pdf-file" type="file"/>
    <input type="submit" value="Summarize"/>
   </form>

   <div id="loading" style="display: none;">
    <div class="spinner">
    </div>

    <p>
     Summarizing...
    </p>

   </div>

   <div id="summary-result">
    <!-- Placeholder for displaying the summary -->
   </div>

  </div>

 </body>

</html>
