<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <title>
   PDF Summarizer
  </title>

  <link href="static/css/style.css" rel="stylesheet"/>
  <script defer="" src="static/js/script.js"></script>
 </head>

 <body>
  <div class="container">

   <p><span id="mode-description"></span></p>
   <label class="switch">
    <input type="checkbox"/>
    <span class="slider round"></span>
   </label>

   <h3>
    <a href="https://olewestby.live/" class="button-link">Go back</a>
   </h3>

   <h1>
    PDF Summarizer
   </h1>

   <p>
    Upload a .pdf file and have it analyzed and summarized by ChatGPT!
   </p>

   <!-- File Upload Form -->
   <form action="/upload" enctype="multipart/form-data" id="upload-form" method="post">
    <input accept=".pdf" name="pdf-file" type="file"/>
    <input type="submit" value="Summarize"/>
   </form>

   <div id="loading" style="display: none;">
    <div class="spinner">
    </div>

    <p>
     Summarizing...
    </p>

   </div>

   <div id="summary-result">
    <!-- Placeholder for displaying the summary -->
   </div>

  </div>

 </body>

</html>
